# Feature Sweeps
Warning: do not run this notebook unless you have at least an hour on your hands.

In [1]:
import os
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2
import modeling

## Unscaled Dataset

In [3]:
df = pd.read_pickle(os.path.join("data", "clipped_kc_house_data.pkl.bz2"))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21420 entries, 7129300520 to 1523300157
Data columns (total 28 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21420 non-null  float64
 1   bedrooms       21420 non-null  int64
 2   bathrooms      21420 non-null  float64
 3   sqft_living    21420 non-null  int64
 4   sqft_lot       21420 non-null  int64
 5   floors         21420 non-null  float64
 6   waterfront     21420 non-null  category
 7   view           21420 non-null  int64
 8   condition      21420 non-null  int64
 9   grade          21420 non-null  int64
 10  sqft_above     21420 non-null  int64
 11  sqft_basement  21420 non-null  float64
 12  zipcode        21420 non-null  category
 13  sqft_living15  21420 non-null  int64
 14  sqft_lot15     21420 non-null  int64
 15  cat_bedrooms   21420 non-null  category
 16  cat_bathrooms  21420 non-null  category
 17  cat_condition  21420 non-null  category
 18  cat_grade      21420 non-null  category
 19  cat_floors     21420 non-null  category
 20  cat_view       21420 non-null  category
 21  nearby_city    21420 non-null  category
 22  zip_pop        21420 non-null  int64
 23  has_basement   21420 non-null  category
 24  age            21420 non-null  int64
 25  cat_age        21420 non-null  category
 26  lot_area       21420 non-null  category
 27  lot15_area     21420 non-null  category
dtypes: category(13), float64(4), int64(11)
memory usage: 2.9 MB

I exclude variables that have poor linear relationships with price.

In [4]:
df.drop(columns=["lot_area", "lot15_area", "age", "cat_age", "zip_pop", "cat_condition", "condition"], inplace=True)

In [5]:
modeling.ols_sweep(df, "price", n_vars=1)
modeling.consolidate_results("test_models/ols_sweep/price~1/*")

0:00:01.701794
0:00:00.076955

In [6]:
modeling.ols_sweep(df, "price", n_vars=2)
modeling.consolidate_results("test_models/ols_sweep/price~2/*")

0:00:22.167255
0:00:00.568927

In [7]:
modeling.ols_sweep(df, "price", n_vars=3)
modeling.consolidate_results("test_models/ols_sweep/price~3/*")

0:02:53.268323
0:00:03.373446

In [8]:
modeling.ols_sweep(df, "price", n_vars=4)
modeling.consolidate_results("test_models/ols_sweep/price~4/*")

0:14:42.713698
0:00:14.491180

In [9]:
modeling.ols_sweep(df, "price", n_vars=5)
modeling.consolidate_results("test_models/ols_sweep/price~5/*")

0:55:22.478871
0:00:48.921254