In [1]:
import os
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2
import modeling

In [3]:
df = pd.read_pickle(os.path.join("data", "scrubbed_kc_house_data.pkl.bz2"))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19030 entries, 6414100192 to 1523300157
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          19030 non-null  float64
 1   bedrooms       19030 non-null  int64
 2   bathrooms      19030 non-null  float64
 3   sqft_living    19030 non-null  int64
 4   sqft_lot       19030 non-null  int64
 5   floors         19030 non-null  float64
 6   waterfront     19030 non-null  category
 7   view           19030 non-null  int64
 8   condition      19030 non-null  int64
 9   grade          19030 non-null  int64
 10  sqft_above     19030 non-null  int64
 11  zipcode        19030 non-null  category
 12  sqft_living15  19030 non-null  int64
 13  sqft_lot15     19030 non-null  int64
 14  cat_bedrooms   19030 non-null  category
 15  cat_bathrooms  19030 non-null  category
 16  cat_condition  19030 non-null  category
 17  cat_grade      19030 non-null  category
 18  cat_floors     19030 non-null  category
 19  cat_view       19030 non-null  category
 20  nearby_city    19030 non-null  category
 21  zip_pop        19030 non-null  int64
 22  has_basement   19030 non-null  category
 23  age            19030 non-null  int64
 24  cat_age        19030 non-null  category
 25  lot_area       19030 non-null  category
 26  lot15_area     19030 non-null  category
dtypes: category(13), float64(3), int64(11)
memory usage: 2.4 MB

In [4]:
df.drop(columns=["age", "cat_age", "zip_pop", "cat_condition", "condition", "sqft_lot15", "sqft_lot"], inplace=True)

In [5]:
modeling.ols_sweep(df, "price", n_vars=1)

In [6]:
modeling.consolidate_results("test_models/ols_sweep/price~1/*")

In [7]:
modeling.ols_sweep(df, "price", n_vars=2)

In [8]:
modeling.consolidate_results("test_models/ols_sweep/price~2/*")

In [9]:
modeling.ols_sweep(df, "price", n_vars=3)

In [10]:
modeling.consolidate_results("test_models/ols_sweep/price~3/*")